<!-- About Section -->
    <section id="bio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bio</h2>
                    <h3 class="section-subheading text-muted">I did some stuff</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bio/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2010</h4>
                                    <h4 class="subheading">My First Code</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I started coding in my last year of middle school, in 2010, with Java. Over the summer, I practiced this new skill by learning about basic Programming Structures like if statements, loops, arrays, and methods. I would later take intro and advanced courses in my school to learn about Object Oriented Programming, Exception Handling, and good programming style.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bio/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2010</h4>
                                    <h4 class="subheading">My First Linux Install</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was drawn into the world of Linux with my interests of running Chrome OS, which was in an early access period at the time. I couldn't get it to install properly, so I started playing around with different Linux Distributions, starting with Opensuse, then using Debian and Fedora.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bio/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2012</h4>
                                    <h4 class="subheading">My First Robotics Team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I joined my high school's robotics team in my Junior Year, which participated in the First Robotics Competition as Team 670. In my Senior year, I became Vice President and designed the intake section of that year's robot!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bio/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">My First Year of College</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I started college at Georgia Tech, where I joined the Linux User Group, Robojackets, and Grey Hat clubs. I began to learn about functional programming here as well, as well as more advanced Linux and programming concepts such as using Vim, Sed, and regular expressions!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>What's next?</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
