<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">These are some things I can do.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-space-shuttle fa-stack-1x fa-rotate-315 fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Programming</h4>
                    <p class="text-muted">I am most comfortable programming in Java, and it is what is used in most of my pet projects. I know bash scripting and basic python as well. Check out my code on Github!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Linux</h4>
                    <p class="text-muted">I have been using Linux on my personal machines for over 4 years. I have experience using Debian, Opensuse, Fedora, and Ubuntu. I have experience with bash pipes/redirection, Vim, and basic Sed regexes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Robotics</h4>
                    <p class="text-muted">I have been involved in Robotics teams since High School! I have been a part of Homestead High's FRC Team 670 (mechanical) and Georgia Tech's Robojackets (software).</p>
                </div>
            </div>
        </div>
    </section>
