body {
	background-color: #F5F3EF;
}
.container {
	background-color: white;
}

#body {
	padding: 3em;
	padding-top: 0;
	font-size: 1.5rem;
}

/** Seminars **/

.graybox {
	box-sizing: border-box; 
	background-color: rgb(240,240,240);
	padding: 2rem;
	min-height: 200px;
	/*border-radius: 0.3rem;*/
}

.seminar-header {
	margin-bottom: 1rem;
	float: left;
}

.seminar-content {
	text-align: left;
	margin-top: 0.3rem;
}

.seminar-time {
	float:right;
	text-align:right;
}

/*********** BIKES START ***********/

/** Filter start **/
#filter {
	background-color:#F9F9F9;
	padding:2rem;
}

.filter-section {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

.filter-section ul {
	list-style: none;
}

.filter-section ul li {
	padding-bottom:0.2rem;
	cursor:pointer;
}

.filter-section-header {
	color:#AAA;
	font-weight:bold;
	margin-bottom:1rem;
}

.plus, .close {
	font-style:bold;
}

/** Actual $wag bike$- Bringing in the $$$ for mah hittas at CycleFitness **/
#bikes .column {
	margin: 0;
	padding-left: 4%;
}


.productImage {
	cursor: pointer;
}

/* Modals */
.modal-body.container {
	width: 100%;
}

/*********** TRIPS START ***********/
.tripHero, .tripMap {
	display: block;
	max-height: 380px;
}

.tripMap {
	width: 100%;
}

.tripRSVP {
	padding-left: 1rem;
}

.tripRSVP, .tripDescription {
	min-height: 0 !important;
}

[data-control] {
	cursor: pointer;
}

/*********** RANDOM STYLING START ***********/
#hero-slideshow-wrapper {
	width: 100%;
	max-width: none;
}

#news  {
	text-align: left;
}

#about {
	font-size: 1.8rem;
}

#purpose {
	font-size: 1.8rem;
}

#tagline {
	font-style: italic;
	text-align: center;
}

#main {
	padding-top: 4rem;
}

#info {
	background-color:black;
	color: white;
	max-width:none;
	width:100%;
	padding: 2rem;
	padding-bottom: 1.5rem;
}

#info-main {
	max-width: 960px;
	margin: 0 auto;
	text-align: left;
	padding-left: 0rem;
}

#main div section {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.offering-center {
	margin-left: 4%;
	margin-right: 4%;
}

.offering-img {
	width: 26rem;
	max-width: 100%;
	display: block;
	text-align: center;
}

.control-box {
	padding: 5rem 0;
}

.collection-bike {
	height: auto;
	width: 90%;
	display: block;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

/*********** UTILITIES START ***********/
.value-prop {
	margin-top: 1rem;
	text-align: center;
}
.value-props {
	margin-top: 2rem;
	margin-bottom: 2rem; }
.value-img {
	display: block;
	text-align: center;
	margin: 2.5rem auto 0; }

.center-emp {
	font-size: 2rem;
	text-align: center;
}

.left {
	text-align: left;
}

/*********** SLIDER START ***********/
.bannerwrapH {
	border-bottom: 10px solid #4D3113;
}
.slideshow {
	background: #fff;
}
.slideshow ul li {
    vertical-align: middle;
	float: left;
	list-style: none;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover !important;
}

#hero-slideshow {
	width: 100%;
	height: 20rem;
}

/* slider dots */
.slideshow .bjqs-markers {
	list-style-type: decimal;
	text-align: center;
	position: relative;
	top: -30px; 
}
.banner .dots, .banner2 .dots, .banner3 .dots {
	list-style-type: decimal;
	text-align: center;
/*	position: relative;
	top: -30px; */
	position: absolute;
	top: auto;
	bottom: 5px;
	left: 0;
	right: 0;
	margin: auto;
}
.slideshow .bjqs-markers li, .banner .dots li, .banner2 .dots li, .banner3 .dots li {
	display: inline-block;
	text-indent: -999em;
	width: 8px;
	height: 8px;
	background: white;
	border-radius: 4px;
	margin-right: 4px;
	opacity: 0.3;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
	cursor: pointer;
}
.slideshow .bjqs-markers li.active-marker, .banner .dots li.active, .banner2 .dots li.active, .banner3 .dots li.active {
	background: white;
	opacity: 1;
}
.bjqs-prev a {
	margin-left: 30px;
}
.bjqs-next a {
	margin-right: 30px;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}

/*********** GLYPHICONS START ***********/

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../bootstrap/fonts/glyphicons-halflings-regular.eot);
    src: url(../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../bootstrap/fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../bootstrap/fonts/glyphicons-halflings-regular.woff) format('woff'), url(../bootstrap/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.glyphicon {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-left:before {
    content: "\e079"
}

.glyphicon-chevron-right:before {
    content: "\e080"
}

.slider-arrow {
	font-size: 2rem;
	color: white;
}

/*********** Larger than phone/phablet ***********/
@media (min-width: 550px) {
	#hero-slideshow {
		width: 100%;
		height: 30rem;
	}

	.value-img {
		margin-bottom: 1rem; }
}

/*********** Larger than tablet ***********/
@media (min-width: 750px) {
	#hero-slideshow {
		width: 100%;
		height: 40rem;
	}

	.value-img {
		margin-bottom: 1rem; }

	#info-main {
		padding-left: 7rem;
	}
}

/*********** Desktop & larger *************/
@media (min-width: 1000px) {
}