/*
* Sketchleton- based off of Skeleton
*
* Skeleton V2.0.2
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/15/2014
*/


/* Table of contents
–––––––––––––––––––––––––––––––––––––––––––––––––– 
- Grid
*/


/* For devices larger than 550px */
@media (min-width: 550px) {
  .column.nomargin,
  .columns.nomargin {
    margin-left: 0; }
  
  .one.column.nomargin,
  .one.columns.nomargin                    { width: 8.3333333333%; }
  .two.columns.nomargin                    { width: 16.6666666667%; }
  .three.columns.nomargin                  { width: 25%;            }
  .four.columns.nomargin                   { width: 33.3333333333%; }
  .five.columns.nomargin                   { width: 41.6666666667%; }
  .six.columns.nomargin                    { width: 50%;            }
  .seven.columns.nomargin                  { width: 58.3333333333%; }
  .eight.columns.nomargin                  { width: 66.6666666667%; }
  .nine.columns.nomargin                   { width: 75.0%;          }
  .ten.columns.nomargin                    { width: 83.3333333333%; }
  .eleven.columns.nomargin                 { width: 91.6666666667%; }
  .twelve.columns.nomargin                 { width: 100%; margin-left: 0; }

  .one-third.column.nomargin              { width: 33.3333333333%; }
  .two-thirds.column.nomargin              { width: 66.6666666667%; }

  .one-half.column.nomargin                { width: 50%; }

  /* Offsets */
  .offset-by-one.column.nomargin,
  .offset-by-one.columns.nomargin          { margin-left: 8.3333333333%; }
  .offset-by-two.column.nomargin,
  .offset-by-two.columns.nomargin          { margin-left: 16.6666666667%; }
  .offset-by-three.column.nomargin,
  .offset-by-three.columns.nomargin        { margin-left: 25%;            }
  .offset-by-four.column.nomargin,
  .offset-by-four.columns.nomargin         { margin-left: 33.3333333333%; }
  .offset-by-five.column.nomargin,
  .offset-by-five.columns.nomargin         { margin-left: 41.6666666667%; }
  .offset-by-six.column.nomargin,
  .offset-by-six.columns.nomargin          { margin-left: 50%;            }
  .offset-by-seven.column.nomargin,
  .offset-by-seven.columns.nomargin        { margin-left: 58.3333333333%; }
  .offset-by-eight.column.nomargin,
  .offset-by-eight.columns.nomargin        { margin-left: 66.6666666667%; }
  .offset-by-nine.column.nomargin,
  .offset-by-nine.columns.nomargin         { margin-left: 75.0%;          }
  .offset-by-ten.column.nomargin,
  .offset-by-ten.columns.nomargin          { margin-left: 83.3333333333%; }
  .offset-by-eleven.column.nomargin,
  .offset-by-eleven.columns.nomargin       { margin-left: 91.6666666667%; }

  .offset-by-one-third.column.nomargin,
  .offset-by-one-third.columns.nomargin    { margin-left: 33.3333333333%; }
  .offset-by-two-thirds.column.nomargin,
  .offset-by-two-thirds.columns.nomargin   { margin-left: 66.6666666667%; }

  .offset-by-one-half.column.nomargin,
  .offset-by-one-half.columns.nomargin     { margin-left: 50%; }

}