
/* Yah, I can't build websites for my life. Nothing to see here. */

body {
	background-color: #262626;
}
::selection, ::-webkit-selection {
	background:rgba(57, 60, 63, 0.99);
	/* color: #393c3f; */
}

::-moz-selection {
	background:rgba(57, 60, 63, 0.99);
	/* color: #393c3f; */
}

h1 {
	color: #E05F27;
	font-weight : bold;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	color: #2F7BDE;
	font-family: 'Open Sans', sans-serif;
}

h3 {
	color: #598249;
	font-family: 'Open Sans', sans-serif;
}

h4, h5, h6, h7, li {
	color: #909396;
	font-family: 'Open Sans', sans-serif;
}

/*  Simple colors here */
/*
h1, h2, h3, h4, h5, h6, h7, li {
	color: #909396;
}
*/

/* Source code blocks */
pre {
	background-color: #2B2B2C;
	color: #909396;
	border-color: black;
}

p, th, td {
	color: #909396;
	font-family: 'Open Sans', sans-serif;
}

/* Tables (dammit bootstrap) */
.table {
	background-color: #262626;
	border-color: black;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #2B2B2C;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #363638;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border-color: black;
}

/* links */
a:link, a:hover, a:active {
	color: #bd3832;
}

a:visited {
	color: #a52f29;
}

/* footer */
footer {
  height: auto;
  background-color: #2B2B2C;
}

/* I'm not planning on actually having code here ;/ */
code {
	background-color: #303030;
	color: #909396;
}

.div-wrap {
	display: inline-block;
	width: 100%;
	position: absolute;
	text-align: center;
}

.div-left {
    position: relative;
	width: auto;
	float: left;
	z-index: 1;
}
.div-right {
    position: relative;
	float:right;
	z-index: 1;
}

.div-center {
	float: left;
    position: absolute;
	width: 100%;
	text-align: center;
}

/* .footer-cont{
	padding-top:5px;
	padding-bottom:5px;
} */
